// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// =============
// Color variables
// =============

$color-green-soft: #669e66;
$color-charcoal: #202823;
$color-tan: #a4855b;

// ==============
// List of all dogs
// ==============
.select-dog {
  display: block;
  width: 15%;
  margin: 1em auto;
  padding: 10px;
  background-color: $color-green-soft;
  color: $color-charcoal;
  font-family: 'Mystery Quest', cursive;
  font-size: 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 10px;

  &:before {
   content: '🐾';
   padding-right: 0.5em;
  }
}

// ==============
// Individual dog styles
// ==============
.dog {
  width: 300px;
  margin: 2em auto 1em;
  background-color: rgba($color-tan, 0.2);
  font-family: 'Mystery Quest', cursive;
  font-size: 2em;
  text-align: center;
  border: 5px solid $color-tan;
  border-radius: 5px;
}

.mood {
  margin: 0;
  padding: 10px;
  font-size: 5em;
}

h2 {
  padding: 10px;
  margin: 0;
}

ul {
  display: block;
  margin: 1.2em 0 0 1.2em;
  font-family: sans-serif;
  font-size: 0.8em;
  text-align: left;
  list-style-type: none;
}

input[type="checkbox"] {
  display: inline;
  cursor: pointer;
}

input[type="submit"] {
  background-color: $color-green-soft;
  color: $color-charcoal;
  padding: 10px 30px;
  margin: 1em auto;
  font-family: 'Mystery Quest', cursive;
  font-size: 1em;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.return-button {
  display: block;
  width: 250px;
  margin: 0.5em auto;
  padding: 10px;
  background-color: $color-green-soft;
  color: $color-charcoal;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 10px;

  &:before {
   content: '🐾';
   padding-right: 0.5em;
  }
}
